* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trispace', sans-serif;
}

/* h1 {

    font-size: 65px;
    color: white;
    padding-top: 80px;
    padding-bottom: 30px;
    
} */

.main-header h1 {
    font-size: 65px;
    color: white;
    padding-top: 150px;
    padding-bottom: 30px;


}

.main-header p {
    color: white;
    font-size: 20px;
    padding-bottom: 50px;

}

.main-header {
    text-align: center;
    width: 100%;

}



.background {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(tomato, red);
    padding: 18px 30px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.donate h1 {
    color: black;
    font-size: 40px;
    margin-top: 120px;
}

.donate p {
    color: rgb(102, 102, 102);
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 25px;
}

.donate {
    text-align: center;
}

.container {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

.box {
    width: 15%;
    height: 120px;
    background: #FAFAFA;

    box-sizing: border-box;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;

}

.box h1 {
    margin: 0;
    padding: 0;
    color: rgb(90, 90, 90);
}

/* .special {
    width: 20%;
    height: 200px;
    background: #FAFAFA;
    margin: 20px;
    box-sizing: border-box;
    font-size: 50px;
} */
.special {
    width: 15%;
    height: 120px;
    background: #f0caca;

    box-sizing: border-box;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    border: 2px red solid;
    border-radius: 5px;

}

.special h1 {
    margin: 0;
    padding: 0;
    color: rgb(231, 80, 80);
}


.donate-section {
    margin-top: 100px;

}

.donate-section h3 {
    margin-bottom: 20px;
    color: rgb(179, 175, 175);
}

.donate-section hr {
    color: blue;
    margin-bottom: 50px;


}

.link-button2 {
    text-decoration: none;
    background-image: linear-gradient(tomato, red);
    padding: 18px 30px;
    color: white;
    font-weight: 700;
    border-radius: 5px;

}

.donate-plan {
    margin-top: 100px;
    text-align: center;
}

.donate-plan h1 {
    font-size: 40px;
    margin-bottom: 30px;
}

.donate-plan p {
    margin: auto;
    width: 50%;
    font-size: 20px;
    line-height: 25px;
    color: rgb(155, 155, 155);
    margin-bottom: 50px;
}

.plan-box {
    display: flex;
    width: 80%;
    margin: auto;
}

.p-box {
    margin: auto;
    width: 400px;
    height: 300px;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;

    text-align: left;

}

.box-png {
    width: 60px;
    height: 60px;
    margin-top: 20px;

}

.p-box p {
    font-size: 20px;
    margin-top: 20px;
    width: 100%;
}

.p-box h2 {
    margin-top: 20px;
}

.box-1 {
    background-color: #EDF5F6
}

.box-2 {
    background-color: #FFEEEE
}

.box-3 {
    background-color: #FFF4D6
}


.flesible-container {
    margin: auto;
    margin-top: 120px;
    width: 80%;
    display: flex;
    flex-direction: row;
    margin-bottom: 120px;
    justify-content: space-around;
}

.half-width {
    width: 50%;
    padding: 20px;


}

.my-width {
    margin-top: 50px;
}

.half-width h1 {
    font-size: 40px;
    width: 260px;

}

.half-width p {
    font-size: 20px;
    color: rgb(124, 124, 124);
    margin-top: 30px;
    margin-bottom: 40px;
}

.half-width img {
    width: 400px;
    height: 400px;
}

.link-button3 {
    text-decoration: none;
    background-image: linear-gradient(tomato, red);
    padding: 18px 30px;
    color: white;
    font-weight: 700;
    border-radius: 5px;



}



/* .dream-big {
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
} */

.update-section {
    margin: auto;
    width: 70%;
    text-align: center;

}

.update-section h1 {
    margin-bottom: 20px;
    font-size: 40px;
}

.update-section p {
    margin: auto;
    margin-bottom: 30px;
    width: 70%;
    font-size: 20px;
}


.email-container {
    margin: auto;

    background-color: #FFF4D6;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.e-input {
    height: 40px;
    width: 300px;
    border: none;
    padding-left: 5px;
}

.link-button4 {
    margin-top: 5px;
    text-decoration: none;
    background-image: linear-gradient(tomato, red);
    padding: 12px 18px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    margin-left: -5px;
}

footer {
    width: 100%;
    height: 150px;
    text-align: center;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

footer h1 {
    color: red;
    margin-bottom: 20px;
}

footer p {
    color: rgb(255, 255, 255);
}